@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
    background-color: black;
    scroll-behavior: smooth;
} */

::-webkit-scrollbar{
    /* width: 10px; */
    display: none;
}

/* ::-webkit-scrollbar-track{
   background: white;
}

::-webkit-scrollbar-thumb{
    background: rgb(64, 182, 214);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: gray;
} */


.animate-top-nav {
    animation: top_nav 1s ease-in;
}

@keyframes top_nav {
    0% {
        transform: translateY(-110%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }

    50% {
        transform: translateY(0%);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}

.animate-down-nav{
    animation: down_nav 1s ease-in;
    
}
        
@keyframes down_nav {
    0% {
        transform: translateY(0%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
        
    50% {
         transform: translateY(-110%);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}

#tsparticles > canvas{
    z-index: -9 !important;
    background: transparent !important;
}


/* animation for text */
@keyframes slideInFromTop {
    from {
        top: -60%;
    }
    to {
        top: 10%;
    }
}

.home-title-wrapper {
    /* other styles */
transition: 1.5s ease-in;
    /* Set initial position */
    top: -50%;
  /* Apply animation */
    animation: slideInFromTop 1s ease-in 1s forwards;
}

@keyframes slideInFromButtom {
    from {
        bottom:-60%;
    }

    to {
        bottom:2%;
    }
}

.home-subtitle{
    /* other styles */
    transition: 2s ease-in;
    /* Set initial position */
    bottom: -60%;
    right:2%;
    /* Apply animation */
    animation: slideInFromButtom 1.5s ease-in 1.5s forwards;
}
